{% extends "layout.html" %}
{% block title %}Profile{% endblock %}

{% block body %}

<form id="profile" method="post">
    {% if success == "true" %}
    <p class="success">Profile was updated successfully.</p>
    {% endif %}
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="input_name">Name: </label>
            <input type="text" readonly class="form-control"  id ="input_name" name="input_name" value="{{ user.first_name }} {{ user.last_name }}">
        </div>
        <div class="form-group col-md-6">
            <label for="input_email">Email: </label>
            <input type="text" readonly class="form-control" id="input_email" name="input_email" value="{{ user.email }}">
        </div>
        <div class="form-group col-md-2">
            <h3><a id="input_payslip" data-toggle="modal" data-target="#myOutput{{ user.id }}"> View Payslip</a></h3><br/>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="input_phone">Phone: </label>
            <input type="text" class="form-control" id="input_phone" name="input_phone" value="{{ user.phone }}">
        </div>
        <div class="form-group col-md-6">
            <label for="input_bio">Bio: </label>
            <input type="text" class="form-control" id="input_bio" name="input_bio" value="{{ user.bio }}">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="input_address_line1">Address Line 1: </label>
            <input type="text" class="form-control" id="input_address_line1" name="input_address_line1" value="{{ user.address_line1 }}">
        </div>
    </div>
    <div>
        <div class="form-group col-md-12">
            <label for="input_address_line2">Address Line 2: </label>
            <input type="text" class="form-control" id="input_address_line2" name="input_address_line2" value="{{ user.address_line2 }}">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="input_city">City: </label>
            <input type="text" class="form-control" id="input_city" name="input_city" value="{{ user.city }}">
        </div>
        <div class="form-group col-md-6">
            <label for="input_state">State: </label>
            <select id="input_state" name="input_state" class="form-control">
              <option selected={{user.state}}></option>
                {% for state in states %}
                <option value={{state}} {% if user.state == state %} selected {% endif %}>{{ state }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <button type="submit" class="btn btn-info btn-lg" ><span class="glyphicon glyphicon-pencil"></span> Edit Profile</button>
        </div>
    </div>

    <div class="modal fade" id="myOutput{{ user.id }}" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Payslip</h4>
                </div>
                <div class="modal-body">
                    <p class="left-text">
                        Employee ID : {{ user.id }}
                        <span class="right-text">Name : {{ user.first_name }} {{ user.last_name }}</span>
                    </p>
                    <p>Address : {{ user.address_line1 }}, {{ user.address_line2 }},{{ user.city }}, {{ user.state }}</p>
                    <p class="left-text">user : {{user.email}}<span class="right-text">Phone : {{user.phone}}</span></p>
                    <p>Company : RJEMS</p>
                    <p>***************************************************************************************************************************</p>

                    <p><b>Basic Salary : {{user.basic_salary}}</b></p>
                    <p><b>Deductions </b></p>
                    <p class="indent">Taxation : ${{user.basic_salary * 40/100}}</p>
                    <p class="indent">Insurance : $150</p>
                    <p class="indent">Others : $120</p>

                    <p>***************************************************************************************************************************</p>

                    <p class="left-text"><b>
                        Gross Earnings : ${{ user.basic_salary }}
                        {% set deductions = user.basic_salary * 40/100 + 150 + 120 %}
                        <span class="right-text">Total Deductions : ${{deductions}} </span></b>
                    </p>
                    <p><b>Net Salary Transferred :  ${{user.basic_salary - deductions}}</b></p>

                </div>

            </div>

        </div>
    </div>

</form>

{% endblock %}
