{% extends "layout.html" %}

{% block title %}Search{% endblock %}

{% block body %}
<form id="search" method=post>
    <div class="form-row">
        <div class="form-group col-md-5">
            <!--<label for="inputFirstName">First Name</label>-->
            <input type="text" class="form-control" id="input_first_name" name="input_first_name" placeholder="First Name">
        </div>
        <div class="form-group col-md-5">
            <!--<label for="inputLastName4">Last Name</label>-->
            <input type="text" class="form-control" id="input_last_name" name="input_last_name" placeholder="Last Name">
        </div>
        <div class="form-group col-md-2">
            <button type="submit" class="btn btn-info btn-lg" ><span class="glyphicon glyphicon-search"></span> Search</button>
        </div>
    </div>

    <table class="table table-striped table-bordered table-hover" >
        <thead class="table-header">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Designation</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        {% for item in users %}
        <TR>
            <TD class="c1">{{item.id}}</TD>
            <TD class="c2">{{item.first_name}}</TD>
            <TD class="c3">{{item.last_name}}</TD>
            <TD class="c4"><SPAN>{{item.email}}</SPAN></TD>
            <TD class="c5"><SPAN>{{item.phone}}</SPAN></TD>
            <TD class="c5"><SPAN>{{item.role_name}}</SPAN></TD>
            <TD align="center"><a class="btn btn-info" id="assign_manager_role" onclick="myFunction(this)">Assign Manager Role</a></TD>
            <TD align="center"><a class="btn btn-info">View Payslip</a></TD>
        </TR>
        {% endfor %}
    </table>
</form>
{% endblock %}


