{% extends "layout.html" %}

{% block title %}Upload{% endblock %}


{% block body %}


    <form method="POST" enctype=multipart/form-data>
        {% if success == "upload_true" %}
        <p class="success">File was uploaded successfully.</p>
        {% endif %}
        {% if success == "text_true" %}
        <p class="success">News/Updates was uploaded successfully.</p>
        {% endif %}

        <div class="form-group">
            <select id="input_upload_type" class="form-control is-valid" onchange="on_change()"  class="custom-select" required>
                <option selected>Select Upload Type..</option>
                <option>Training Material/Photos</option>
                <option>News/Updates</option>
            </select>
            <div id="invalid_upload_type" class="error" style="display:none">Please select an upload type.</div>
        </div>
        <div class="form-group" id="div_upload">
            <p class="form-control"><input id="upload_file" type=file  name=file >
            <div id="invalid_upload_file" class="error" style="display:none"></div>
        </div>

        <div class="form-group" id="div_text">
            <textarea class="form-control" name = "input_upload_text" id ="input_upload_text"></textarea>
            <div id="invalid_upload_text" class="error" style="display:none">Please enter some text.</div>
        </div>

        <button type="submit" class="btn btn-info btn-lg" onclick=" return validate_upload()"><span class="glyphicon glyphicon-upload"></span> Upload</button>
    </form>

{% endblock %}
